* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
}

/* header-start */
.main-section {
  margin: auto;
  width: 100%;
  padding: 10px 0px;
}

.header-section {
  /* width: 100%;
  height: 308px; */
  background: url(../img/Rectangle\ 7.jpg);
  border-radius: 32px;
}

.header-section .about-header,
.header-more-detail {
  padding: 50px 50px;
}

.header-more-detail {
  display: flex;
  justify-content: flex-end;
}

.about-header .name {
  position: absolute;
  top: 80px;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 20px;
  color: #ffffff;
}
.about-header .type {
  position: absolute;
  top: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.58);
}
.about-header .derectorey {
  position: absolute;
  height: 70px;
  top: 140px;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  text-transform: uppercase;
  color: #ffffff;
}

.header-more-detail .time {
  position: absolute;
  top: 80px;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 30px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-more-detail .date {
  position: absolute;
  top: 130px;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header-more-detail .temprature {
  position: absolute;
  height: 70px;
  top: 180px;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
/* header-close */

/* container-start */
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 68px;
  width: 100%;
}

.container .sub-container-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: calc(100%-33%);
}

.sub-container-1 h2 {
  /* width: 260px;
  height: 87px; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #141414;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sub-container-1 .col-01 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 20px;
  gap: 36px;
  /* width: 532px;
  height: 68px; */
  background: #ececec;
  box-shadow: 0px 15px 30px rgba(231, 231, 231, 0.22);
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.container .sub-container-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: calc(100%-33%);
  /* width: 532px;
  height: 633px; */
}

.sub-container-2 h2 {
  /* width: 260px;
  height: 87px; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #141414;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sub-container-2 .col-01 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 20px;
  gap: 36px;
  /* width: 532px;
  height: 68px; */
  background: #ececec;
  box-shadow: 0px 15px 30px rgba(231, 231, 231, 0.22);
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.container .sub-container-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: calc(100%-33%);
  /* width: 532px;
  height: 633px; */
}

.sub-container-3 h2 {
  /* width: 260px;
  height: 87px; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #141414;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sub-container-3 .col-01 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 20px;
  gap: 36px;
  /* width: 532px;
  height: 68px; */
  background: #ececec;
  box-shadow: 0px 15px 30px rgba(231, 231, 231, 0.22);
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.col-01 h3 {
  /* width: 49px;
  height: 32px; */
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #26a1ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 10px 10px;
}

.col-01 p {
  /* width: 320px;
  height: 32px; */
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
  color: #010101;
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* container-end */

/* @media only screen and (max-width: 1900px) {
  .about-header .name {
    font-size: 30px;
  }
  .about-header .type {
    font-size: 22px;
  }
  .about-header .derectorey {
    font-size: 70px;
  }

  .header-more-detail .time {
    font-size: 30px;
  }

  .header-more-detail .date {
    font-size: 30px;
  }

  .header-more-detail .temprature {
    font-size: 30px;
  }
  .header-section {
    width: 90%;
  }
  .container {
    width: 90%;
    gap: 30px;
  }
  .container .sub-container {
    display: flex;
    width: 80%;
    gap: 20px;
  }
  .sub-container h2 {
    font-size: 28px;
    display: block;
  }
  .sub-container .col-01 {
    display: block;
    width: 80%;
  }
  .col-01 h3 {
    font-size: 22px;
    font-weight: 200;
  }
  .col-01 p {
    font-weight: 200;
    font-size: 22px;
  }
}

@media only screen and (max-width: 1500px) {
  .about-header .name {
    font-size: 25px;
  }
  .about-header .type {
    font-size: 18px;
  }
  .about-header .derectorey {
    font-size: 50px;
  }

  .header-more-detail .time {
    font-size: 25px;
  }

  .header-more-detail .date {
    font-size: 25px;
  }

  .header-more-detail .temprature {
    font-size: 25px;
  }
  .header-section {
    width: 80%;
  }
  .container {
    width: 70%;
    gap: 20px;
  }
  .container .sub-container {
    display: flex;
    gap: 10px;
    width: 34%;
    gap: 10px;
  }
  .sub-container h2 {
    font-size: 18px;
    display: block;
  }
  .sub-container .col-01 {
    display: block;
    width: 90%;
  }
  .col-01 h3 {
    font-size: 14px;
    font-weight: 200;
  }
  .col-01 p {
    font-weight: 400;
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .about-header .name {
    font-size: 22px;
  }
  .about-header .type {
    font-size: 16px;
  }
  .about-header .derectorey {
    font-size: 40px;
  }

  .header-more-detail .time {
    font-size: 22px;
  }

  .header-more-detail .date {
    font-size: 22px;
  }

  .header-more-detail .temprature {
    font-size: 22px;
  }
  .header-section {
    width: 80%;
  }
  .container {
    width: 70%;
    gap: 20px;
  }
  .container .sub-container {
    display: flex;
    gap: 10px;
    width: 34%;
    gap: 10px;
  }
  .sub-container h2 {
    font-size: 18px;
    display: block;
  }
  .sub-container .col-01 {
    display: block;
    width: 90%;
  }
  .col-01 h3 {
    font-size: 10px;
    font-weight: 200;
  }
  .col-01 p {
    font-weight: 400;
    font-size: 10px;
  }
} */

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  .about-header .name {
    font-size: 30px;
  }
  .about-header .type {
    font-size: 22px;
  }
  .about-header .derectorey {
    font-size: 70px;
  }

  .header-more-detail .time {
    font-size: 30px;
  }

  .header-more-detail .date {
    font-size: 30px;
  }

  .header-more-detail .temprature {
    font-size: 30px;
  }

  .header-section {
    margin: 30px auto;
    width: 90%;
  }
  .container {
    margin: 30px auto;
    width: 90%;
    gap: 68px;
  }
  .container .sub-container-1 {
    display: flex;
    width: 30%;
    gap: 20px;
  }

  .sub-container-1 h2 {
    font-size: 28px;
    display: contents;
  }
  .sub-container-1 .col-01 {
    display: flex;
    width: 100%;
  }
  .container .sub-container-2 {
    display: flex;
    width: 30%;
    gap: 20px;
  }

  .sub-container-2 h2 {
    font-size: 28px;
    display: contents;
  }
  .sub-container-2 .col-01 {
    display: flex;
    width: 100%;
  }
  .container .sub-container-3 {
    display: flex;
    width: 30%;
    gap: 20px;
  }
  .sub-container-3 h2 {
    font-size: 28px;
    display: contents;
  }

  .sub-container-3 .col-01 {
    display: flex;
    width: 100%;
  }

  .col-01 h3 {
    font-size: 32px;
    font-weight: 200;
  }
  .col-01 p {
    font-weight: 200;
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .header-section {
    margin: 30px auto;
    width: 90%;
  }
  .container {
    margin: 30px auto;
    width: 90%;
    gap: 68px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .container .sub-container-1 {
    display: flex;
    width: 45%;
    gap: 20px;
  }

  .sub-container-1 h2 {
    font-size: 28px;
    display: contents;
  }
  .sub-container-1 .col-01 {
    display: flex;
    width: 100%;
  }
  .container .sub-container-2 {
    display: flex;
    width: 45%;
    gap: 20px;
  }

  .sub-container-2 h2 {
    font-size: 28px;
    display: contents;
  }
  .sub-container-2 .col-01 {
    display: flex;
    width: 100%;
  }
  .container .sub-container-3 {
    display: flex;
    width: 50%;
    gap: 20px;
  }
  .sub-container-3 h2 {
    font-size: 28px;
    display: contents;
  }

  .sub-container-3 .col-01 {
    display: flex;
    width: 100%;
  }

  .col-01 h3 {
    font-size: 32px;
    font-weight: 200;
  }
  .col-01 p {
    font-weight: 200;
    font-size: 20px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .about-header .name {
    font-size: 20px;
  }
  .about-header .type {
    font-size: 16px;
    top: 110px;
  }
  .about-header .derectorey {
    font-size: 50px;
    top: 150px;
  }

  .header-more-detail .time {
    font-size: 20px;
  }

  .header-more-detail .date {
    font-size: 20px;
    top: 110px;
  }

  .header-more-detail .temprature {
    font-size: 20px;
    top: 140px;
  }
  .header-section {
    margin: 30px auto;
    width: 90%;
    height: auto;
  }
  .container {
    margin: 30px auto;
    width: 90%;
    gap: 68px;
    display: flex;
    flex-direction: column;
  }

  .container .sub-container-1 {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  .sub-container-1 h2 {
    font-size: 28px;
    display: contents;
  }
  .sub-container-1 .col-01 {
    display: flex;
    width: 95%;
  }
  .container .sub-container-2 {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  .sub-container-2 h2 {
    font-size: 28px;
    display: contents;
  }
  .sub-container-2 .col-01 {
    display: flex;
    width: 95%;
  }
  .container .sub-container-3 {
    display: flex;
    width: 100%;
    gap: 20px;
  }
  .sub-container-3 h2 {
    font-size: 28px;
    display: contents;
  }

  .sub-container-3 .col-01 {
    display: flex;
    width: 95%;
  }

  .col-01 h3 {
    font-size: 32px;
    font-weight: 200;
  }
  .col-01 p {
    font-weight: 200;
    font-size: 22px;
  }
}
