/* /* /* /* global css start  */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alexandria", sans-serif;
}

.container {
  width: 1440px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* global css end */

/* HEADER START */
header .container {
  display: flex;
}

.logo {
  width: 15%;
}

.page-logo {
  height: auto;
  width: 100%;
  max-width: 250px;
}

.menu {
  display: flex;
  gap: 15px;
}

.page-menu {
  width: 70%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  display: inline-block;
  padding: 10px;
  color: hsl(0deg 0% 29%);
  font-size: 18px;
}

.page-icon {
  width: 15%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.user-icon,
.search-icon,
.shopping-cart-icon {
  padding: 20px;
  height: 25px;
  width: 25px;
  color: #a3a3a3;
}
/* HEADER END */

/* hero-section start */
.hero-section .container-fluid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/honey.jpg");
  padding: 300px 0;
}

.hero-card {
  position: relative;
  max-width: 850px;
  background-color: #2b201e52;
  padding: 31px;
  backdrop-filter: blur(7px);
}

img.hero-img {
  position: absolute;
  top: -150px;
  width: 300px;
}

.hero-Title {
  font-size: 62px;
  color: whitesmoke;
}

.hero-sub-title {
  font-size: 32px;
  font-weight: 100;
  padding: 30px 0;
  color: whitesmoke;
}
.hero-button {
  font-size: 26px;
  border-radius: 4px;
  background-color: #ffc107;
  font-weight: 600;
  border: 0;
  padding: 20px 50px;
}
/* hero-section end */

/* SLIDER SECTION START */
.slider {
  padding: 50px 0;
}

.slider .slider-headline {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}

.slider-headline::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 40px;
  background-color: rgb(249, 142, 28);
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.slider-img {
  margin: auto;
  width: 100%;
}
/* SLIDER SECTION EMD */

/* Section 3 start */

.section-3 .container-fluid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/honeyfarming.jpg");
  position: relative;
  padding: 300px 0;
}

.section-3 .container-fluid::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
  top: 0;
}

.honeycubes {
  position: relative;
  max-width: 50%;
  float: left;
  /* background-color: #2b201e52; */

  /* backdrop-filter: blur(7px); */
}

.container .detail-img {
  width: 100%;
}

.details {
  color: white;
  position: relative;
}

.details h3 {
  text-align: right;
  font-size: 52px;
  font-weight: 600;
  padding-bottom: 34px;
}

.details p {
  font-size: 24px;
  text-align: end;
  line-height: 40px;
}
/* section 3 end */

/* section_4 start */

.section-4 .container h3 {
  font-size: 52px;
  text-align: center;
  padding: 40px 0px;
}

.product-list {
  display: flex;
  padding: 60px 0px;
}

.product {
  max-width: 30%;
  padding: 0px 20px;
  position: relative;
}

.product-detail {
  max-width: 100%;
  border: 2px solid hsl(55deg 13% 81%);
  padding: 0px 20px;
  margin-top: -4px;
}

.product-detail .product-title {
  color: hsl(43deg 88% 54%);
  text-align: center;
  padding-top: 30px;
  text-transform: uppercase;
}
.product-detail .offer-price {
  display: flex;
  justify-content: center;
}
.product-detail .product-price-1 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  padding: 15px;
  color: hsl(43deg 88% 54%);
}

.product-detail .product-price-2 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  padding: 15px;
  text-decoration: line-through;
}

.product-detail .product-price {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  padding: 15px;
}

.product-button {
  display: flex;
  justify-content: center;
}

.product-button button {
  background-color: #ffc107;
  padding: 12px 75px;
  border: none;
  color: hsl(42deg 90% 89%);
  border-radius: 5px;
}

.product .product-img {
  /* width: 352px; */
  max-width: 100%;
  max-height: auto;
}

.product .product-ratting {
  display: flex;
  justify-content: center;
}

.product .product-ratting .ratting-img {
  width: auto;
  height: 20px;
  margin: auto;
  padding: 20px 0px;
}
.checkout-button {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.checkout-button button {
  border: 2px solid black;
  padding: 20px 114px;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.bestsaller {
  position: absolute;
  font-size: 18px;
  background-color: orange;
  padding: 10px 30px;
  right: 30px;
  top: 12px;
  border-radius: 3px;
}
/* section_4 end */

/* section 5 start */
.section-5 .container-fluid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/section5main.jpg);
  position: relative;
  padding: 100px 0;
}
.section-5 .container-fluid::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: hsl(52deg 19% 32% / 63%);
  top: 0;
}

.container h2 {
  position: relative;
  font-size: 64px;
  text-align: center;
  color: white;
}

.about-honeyfarming {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
}

.section-5 .honeyfarming-steps {
  position: relative;
  width: 30%;
  padding: 24px 24px;
}

.honeyfarming-steps .honeyfarming-img {
  height: 300px;
}

.honeyfarming-steps h3 {
  text-align: start;
  font-size: 28px;
  color: aliceblue;
  padding: 10px 10px;
  font-weight: 600;
}

.honeyfarming-steps P {
  font-size: 18px;
  color: aliceblue;
  padding: 10px 10px;
  font-weight: 300;
}
/* section 5 end */

/* section_6 start */
.section-6 .container-fluid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(53deg 23% 92%);
  padding: 100px 0;
}

.section-6 p {
  font-size: 44px;
  text-align: center;
  font-weight: 600;
  padding: 40px 0px;
}

.review-section {
  display: flex;
  gap: 20px;
  padding: 20px 0px;
}

.section-6 .review-box {
  display: flex;
  background: white;
  padding: 30px 0px;

  align-items: center;
  flex-wrap: wrap;
}

.review-box p {
  font-size: 20px;
  padding: 10px 15px;
  font-weight: 100;
}

.reviewers-profile {
  width: 10%;
  padding: 0px 15px;
}

.reviewers-profile .reviewer-pic {
  width: 75px;
  border-radius: 50px;
}

.about-reviewers {
  width: 20%;
  padding: 0px 15px;
}

.about-reviewers h3 {
  font-size: 18px;
  padding: 10px 0px;
}

.about-reviewers h4 {
  font-size: 14px;
  color: hsl(0deg 2% 68%);
  font-weight: 100;
}

.reviewers-ratting {
  width: 55%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
}

.reviewers-ratting .star-ratting-img {
  width: 75px;
}

/* section_6 end */

/* section_7 start */
.section-7 {
  padding: 100px 0px;
}

.questions-section h2 {
  color: black;
  font-size: 52px;
  padding: 40px 0px;
}

.questions-section .question {
  font-size: 28px;
  font-weight: 600;
  padding: 35px 0px;
}
.questions-section .answer {
  font-size: 25px;
  font-weight: 200;
  padding-bottom: 30px;
  color: hsl(0deg 1% 54%);
}
.questions-section hr {
  width: 100%;
}
/* section_7 end */

/* section-8 start */
.section-8 .container-fluid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/honey.jpg");
  position: relative;
  padding: 50px 0px;
}
.section-8 .container-fluid::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #2a4d3fb8;
  top: 0;
}
.section-8 .container h4 {
  position: relative;
  font-size: 34px;
  text-align: center;
  color: white;
}
.section-8 .container h5 {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0px;
  text-align: center;
  color: white;
}
.section-8 .container h5::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 40px;
  background-color: white;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.section-8 .blog-section-area {
  display: flex;
  padding: 25px 0px;
}
.section-8 .blog-section {
  max-width: 30%;
  padding: 0px 20px;
  position: relative;
}

.blog-section .blog-section-img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.blog-section .blog-discription {
  background-color: white;
  padding: 10px 15px;
  margin: -10px 0px;
}

.blog-discription h2 {
  color: hsl(7deg 72% 44%);
  font-size: 18px;
  text-align: left;
  padding: 15px 0px;
}
.blog-discription .blog-title-video {
  color: orange;
  font-size: 18px;
  text-align: left;
  padding: 15px 0px;
}

.blog-discription .blog-title-casestudy {
  color: #366351;
  font-size: 18px;
  text-align: left;
  padding: 15px 0px;
}

.blog-discription .blog-paragrapgh-main {
  padding: 15px 0px;
  font-size: 20px;
  font-weight: 600;
}

.blog-discription .blog-paragrapgh {
  padding: 15px 0px;
  font-size: 18px;
  font-weight: 300;
}

.blogers-profile {
  padding: 40px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.blogers-profile .blogers-profile-pic {
  border-radius: 100px;
  width: 20%;
}

.blogers-profile h3 {
  font-size: 18px;
  padding: 0px 0px 5px 0px;
}

.section-8l .blogers-profile h4 {
  font-size: 14px;
  color: rgb(138, 134, 134);
  font-weight: 100;
}

.blogers-profile .about-blogers {
  margin: 15px;
}

/* section-8 end */

/* footer start */
.footer {
  background-color: #f0efe7;
  padding: 50px 15px;
}

.footer .container {
  display: flex;
  color: #6e6e6c;
  text-align: left;
  padding: 50px 0px;
}

.container .col-01 {
  padding: 0px 20px;
  width: 25%;
}
.col-01 h3 {
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 0px;
  letter-spacing: 2px;
}
.col-01 p {
  padding: 10px 0px;
  line-height: 25px;
}

.col-01 h4 {
  font-size: 16px;
  padding: 10px 0px;
  font-weight: 300;
}

.col-01 .footer-logo {
  width: 10%;
  padding: 10px;
}

.footer .payment-options {
  display: flex;
  justify-content: center;
}

.payment-options .payment-card-logo {
  padding: 10px 10px;
}

/* footer end */
