/* /* /* /* global css start  */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alexandria", sans-serif;
}

.container {
  width: 1440px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* global css end */

/* HEADER START */
header .container {
  display: flex;
}

.logo {
  width: 20%;
}

.page-logo {
  height: 150px;
  width: 210px;
  padding-right: 198px;
}

.page-menu {
  width: 50%;
  padding-left: 12px;
  padding-right: 98px;
  padding-top: 18px;
}

.menu li {
  display: inline-block;
  padding: 11px;
  padding-top: 52px;
  color: #a3a3a3;
  font-size: 18px;
}

.page-icon {
  width: 20%;
  padding-top: 42px;
  display: flex;
}

.user-icon,
.search-icon,
.shopping-cart-icon {
  padding: 20px;
  height: 25px;
  width: 25px;
  color: #a3a3a3;
}
/* HEADER END */

/* hero-section start */
.hero-section .container-fluid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/honey.jpg");
  padding: 300px 0;
}

.hero-card {
  position: relative;
  max-width: 850px;
  background-color: #2b201e52;
  padding: 31px;
  backdrop-filter: blur(7px);
}

img.hero-img {
  position: absolute;
  top: -150px;
  width: 300px;
}

.hero-Title {
  font-size: 62px;
  color: whitesmoke;
}

.hero-sub-title {
  font-size: 32px;
  font-weight: 100;
  padding: 30px 0;
  color: whitesmoke;
}
.hero-button {
  font-size: 26px;
  border-radius: 4px;
  background-color: #ffc107;
  font-weight: 600;
  border: 0;
  padding: 20px 50px;
}
/* hero-section end */

/* SLIDER SECTION START */
.slider {
  padding: 50px 0;
}

.slider .slider-headline {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}

.slider-headline::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 40px;
  background-color: rgb(249, 142, 28);
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.slider-img {
  margin: auto;
  width: 100%;
}
/* SLIDER SECTION EMD */

/* Section 3 start */

.section_3 .container-fluid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/honeyfarming.jpg");
  position: relative;
  padding: 300px 0;
}

.section_3 .container-fluid::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
  top: 0;
}

.honeycubes {
  position: relative;
  max-width: 50%;
  float: left;
  /* background-color: #2b201e52; */

  /* backdrop-filter: blur(7px); */
}

.container .detail-img {
  width: 100%;
}

.details {
  color: white;
  position: relative;
}

.details h3 {
  text-align: right;
  font-size: 52px;
  font-weight: 600;
  padding-bottom: 34px;
}

.details p {
  font-size: 24px;
  text-align: end;
  line-height: 40px;
}
/* section 3 end */

/* section_4 start */

.container h3 {
  font-size: 52px;
  text-align: center;
  padding-top: 50px;
}

.product-list {
  display: flex;
  padding: 60px 0px;
}

.product {
  max-width: 30%;
  padding: 0px 20px;
  position: relative;
}

.product-detail {
  max-width: 100%;
  border: 2px solid hsl(55deg 13% 81%);
  padding: 0px 20px;
  margin-top: -4px;
}

.product-detail .product-title {
  color: hsl(43deg 88% 54%);
  text-align: center;
  padding-top: 30px;
  text-transform: uppercase;
}
.product-detail .offer-price {
  display: flex;
  justify-content: center;
}
.product-detail .product-price-1 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  padding: 15px;
  color: hsl(43deg 88% 54%);
}

.product-detail .product-price-2 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  padding: 15px;
  text-decoration: line-through;
}

.product-detail .product-price {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  padding: 15px;
}

.product-button {
  display: flex;
  justify-content: center;
}

.product-button button {
  background-color: #ffc107;
  padding: 12px 75px;
  border: none;
  color: hsl(42deg 90% 89%);
  border-radius: 5px;
}

.product .product-img {
  /* width: 352px; */
  max-width: 100%;
  max-height: auto;
}

.product .product-ratting {
  display: flex;
  justify-content: center;
}

.product .product-ratting .ratting-img {
  width: auto;
  height: 20px;
  margin: auto;
  padding: 20px 0px;
}
.checkout-button {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.checkout-button button {
  border: 2px solid black;
  padding: 20px 114px;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.bestsaller {
  position: absolute;
  font-size: 18px;
  background-color: orange;
  padding: 10px 30px;
  right: 30px;
  top: 12px;
  border-radius: 3px;
}
/* section_4 end */

/* section 5 start */
.section_5 .container-fluid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/section5main.jpg);
  position: relative;
  padding: 100px 0;
}
.section_5 .container-fluid::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: hsl(52deg 19% 32% / 63%);
  top: 0;
}

.container h2 {
  position: relative;
  font-size: 64px;
  text-align: center;
  color: white;
}

.about-honeyfarming {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
}

.section_5 .honeyfarming-steps {
  position: relative;
  width: 30%;
  padding: 24px 24px;
}

.honeyfarming-steps .honeyfarming-img {
  height: 300px;
}

.honeyfarming-steps h3 {
  text-align: start;
  font-size: 28px;
  color: aliceblue;
  padding: 10px 10px;
  font-weight: 600;
}

.honeyfarming-steps P {
  font-size: 18px;
  color: aliceblue;
  padding: 10px 10px;
  font-weight: 300;
}
/* section 5 end */

/* section_6 start */
.section_6 .container-fluid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(53deg 23% 92%);
  padding: 100px 0;
}
.section_6 .review {
  display: flex;
  width: 40%;
  background: white;
  width: 40%;
  padding: 20px 50px;
}
/* section_6 end */
