.container{
  display: grid;
  /* grid-template-rows: 100px 200px 300px ; */
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px; ;
}

.iteam{

background-color: rgb(176, 218, 204);
border: 2px solid rgb(63, 65, 172);
border-radius: 3px;

}