* {
  margin: 2px;
  padding: 2px;
}

body {
  border-top: 5px solid #1098ad;
 font-family: 'Vollkorn', serif;
  color: #444;
  position: relative;
}

h1,
h2,
h3,
p,
li {
 font-family: 'Vollkorn', serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 46px;
  text-transform: uppercase;
  font-style: italic;
  margin-left: 5px;
  float: left;
}

h2 {
  font-size: 40px;
  margin-bottom: 5px;
}

h3 {
  font-size: 30px;
  margin-top: 25px;
}

h4 {
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
font-family: 'Vollkorn', serif;
  color: #107989;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 25px;
}

ul,
ol {
  margin-left: 50px;
}

li {
  font-size: 20px;
  margin: 12px;
}

/* footer p {
  font-size: 13px;
} */

/* header p {
  font-style: italic;
} */

/* article {
  margin-bottom: 60px;
 
} */

#author {
  font-style: italic;
  font-size: 18px;
  color: #1098ad;
}

.related-author {
  font-size: 25px;
  font-weight: bold;
}

/* ul{
  list-style: none;
} */

.related {
  list-style: none;
}
.container {
  /* margin-left: auto;
  margin-right: auto; */
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #f3f3f3;
  /* padding: 0px;
  margin: 0px; */
  margin-bottom: 20px;
  height: 100px;
}

nav {
  font-size: 25px;
  float: right;
}

.post-header {
  margin-bottom: 20px;
}

aside {
  background-color: #f3f3f3;
  border: 5px solid #1098ad;

  margin-top: 20px;
  margin-right: 250px;
  margin-left: 250px;
  margin-bottom: 50px;
  width: 700px;
}

aside p {
  color: #595f60;
}

/* body{
  background-color: lightsteelblue;
} */

.first-li {
  font-weight: bold;
}

a:link {
  color: rgb(137, 177, 137);
  text-decoration: none;
}
/* visited link */
a:visited {
  color: #1098ad;
}
/* mouse over link */
a:hover {
  color: #bbb679;
  font-weight: bold;
  text-decoration: underline solid #666342;
}
/* selected link */
a:active {
  color: #7c7cf1;
}
a {
  padding: 10px;
  margin-left: 10px;
  font-size: 20px;
}

#copyright {
  font-size: 17px;
  font-style: oblique;
}
.post-img {
  height: auto;
  width: 50%;
}
button {
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  /* bottom: 0;
  left: 0; */
  bottom: 6em;
  left: 54em;
}

.author-img {
  float: left;
}
.author {
  padding-left: 60px;
  padding-top: 15px;
}
