* {
  padding: 0;
  margin: 0;
}

body {
  margin: 60px;
}

.main-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/figma-img.png");
  height: calc(100vh - 120px);
  display: flex;
  overflow: hidden;
  width: 100%;
}

.main-section .section-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  padding: 50px;
}

.information .date-and-time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.date-and-time .time {
  font-weight: 300;
  text-transform: uppercase;
}

.date-and-time .month {
  font-weight: 300;
  text-transform: uppercase;
}

.information h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 43.7229px;
  line-height: 64px;
  padding: 10px 10px;
  color: #000000;
}

.vector {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* detail-section end */

/* FOOTER start */
.footer {
  display: flex;
  background-color: #16202a;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 45px;
}

.footer .brand-name {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  padding: 10px;
  line-height: 52px;
  text-transform: uppercase;
  color: #ffffff;
}

/* footer end */

/*mainBox start  */
.section-right .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  padding: 30px 0px;
  text-transform: uppercase;
  color: #0f1a1e;
}

.section-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 70%;
}

.main-box {
  background: rgba(10, 29, 48, 0.62);
  backdrop-filter: blur(62px);
  letter-spacing: 5px;
  display: flex;
  font-family: "Bebas Neue";
  font-weight: 400;
  justify-content: space-around;
  padding: 74px 81px 45px 88px;
}

.main-box .list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 33.33%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.list .list-data {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list .list-title {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 49px;
  padding: 0px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: yellow;
}

.list-data .list-number {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  flex: none;
}

.list-data .list-iteams {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}

/* mainbox end */

@media screen and (max-width: 1920px) and (min-width: 1440px) {}

.information h3 {
  font-size: 35px;
  padding: 0px;
}

.temprature {
  font-size: 40px;
}

.main-box {
  padding: 30px;
}

.main-box .list {
  gap: 30px;
}

.list .list-data {
  gap: 10px;
}

.list .list-title {
  font-size: 45px;
}

.list-data .list-number {
  font-size: 40px;
}

.list-data .list-iteams {
  font-size: 30px;
}
}

@media screen and (max-width: 1439px) and (min-width: 1200px) {

  .information {
    padding: 30px;
  }

  .information h3 {
    font-size: 30px;
    padding: 0px;
  }

  .temprature {
    font-size: 35px;
  }

  .footer {
    padding: 20px 20px;
  }

  .brand-name {
    font-size: 35px;
  }

  .main-box {
    /* padding: 30px; */
    padding: 80px 40px;
  }

  .section-right .title {
    font-size: 60px;
  }

  .main-box .list {
    gap: 30px;
  }

  .list .list-data {
    gap: 10px;
  }

  .list .list-title {
    font-size: 40px;
  }

  .list-data .list-number {
    font-size: 24px;
  }

  .list-data .list-iteams {
    font-size: 24px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {


  .information {
    padding: 25px;
  }

  .information h3 {
    font-size: 25px;
    display: flex;
    gap: 10px;
    padding: 0px;
  }

  .vector .temprature {
    font-size: 35px;
  }

  .footer {
    padding: 0px 20px 0px 0px;
  }

  .footer .substract-img {
    height: 40px;
  }

  .footer .brand-name {
    font-size: 25px;
    padding: 0px;
  }

  .main-box {
    padding: 80px 40px;
    width: 100%;
  }

  .main-box .list-one {
    width: 50%;
  }

  .main-box .list-two {
    width: 50%;
  }

  .main-box .list-three {
    display: none;
  }

  .section-right .title {
    font-size: 60px;
  }

  .main-box .list {
    gap: 20px;
  }

  .list .list-data {
    gap: 10px;
  }

  .list .list-title {
    font-size: 30px;
  }

  .list-data .list-number {
    font-size: 20px;
  }

  .list-data .list-iteams {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {


  .information {
    padding: 10px;
  }

  .information h3 {
    font-size: 17px;

  }

  .vector .temprature {
    font-size: 30px;
  }

  .footer {
    padding: 0px;
  }

  .footer .substract-img {
    height: 30px;
  }

  .footer .brand-name {
    font-size: 20px;
    padding: 0px;
  }

  .main-box {

    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .main-box .list {
    padding: 0px 0px 20px;
  }

  .main-box .list-one {
    width: 100%;
  }

  .main-box .list-two {
    width: 100%;
  }

  .main-box .list-three {
    display: none;
  }

  .section-right .title {
    font-size: 50px;
  }

  /* .main-box .list {
    gap: 0px;
  }

  .list .list-data {
    gap: 0px;
  }

  .list .list-title {
    font-size: 25px;
  }

  .list-data .list-number {
    font-size: 15px;
  }

  .list-data .list-iteams {
    font-size: 15px;
  } */
}