* {
  padding: 0;
  margin: 0;
}

body {
  margin: 60px;
}

.main-section {
  background: url('../img/figma-img.png') no-repeat center;
  height: calc(100vh - 120px);
  display: flex;
  overflow: hidden;
  width: 100%;
  background-size: cover;
}

.main-section .section-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  padding: 50px;
}

.date-and-time .light-font {
  font-weight: 300;
  text-transform: uppercase;
}

.information h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 44px;
  line-height: 64px;
  padding: 10px 10px;
  color: #000000;
}

.vector {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vector .temprature {
  font-size: 36px;
}

.vector svg {
  height: 30px;
}

.section-left .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  padding: 30px 0px;
  text-transform: uppercase;
  color: #0f1a1e;
}

/* detail-section end */

/* FOOTER start */
.footer {
  display: flex;
  background-color: #16202a;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 45px;
}

.footer .brand-name {
  font-family: "Barlow Condensed";
  font-weight: 600;
  font-size: 44px;
  padding: 10px;
  line-height: 52px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .substract-img {
  height: 100%;
  width: auto;
}

/* footer end */

/*mainBox start  */
.section-right .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  padding: 30px 0px;
  text-transform: uppercase;
  color: #0f1a1e;
}

.section-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-box {
  background: rgba(10, 29, 48, 0.62);
  backdrop-filter: blur(62px);
  letter-spacing: 5px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
  font-family: "Bebas Neue";
  font-weight: 400;
  padding: 74px 81px 45px 88px;
}

.main-box .list {
  gap: 40px;
  width: 33.33%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.list .list-data {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.list .list-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 49px;
  padding: 0px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FBFF21
}

.list-data .list-number {

  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;

}

.list-data .list-iteams {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}

/* mainbox end */

@media screen and (max-width: 1920px) {
  .main-section .section-left {
    width: 21%;
  }

  .information h3 {
    font-size: 26px;
    padding: 0;
    line-height: 40px;
  }

  .temprature {
    font-size: 40px;
  }

  .section-left .title {
    display: none;
  }

  .footer {
    padding: 0;
  }

  .footer .brand-name {
    font-size: 40px;
    line-height: 52px;
  }

  .list .list-title {
    font-size: 42px;
    line-height: 49px;
  }

  .list-data .list-number {
    font-size: 36px;
    line-height: 45px;
  }

  .list-data .list-iteams {
    font-size: 34px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1440px) {
  body {
    margin: 32px;
  }

  .main-section {
    height: calc(100vh - 64px);
  }

  .information {
    gap: 16px;
  }

  .information h3 {
    font-size: 22px;
    line-height: 34px;
    padding: 0;
  }

  .temprature {
    font-size: 36px;
    line-height: 41px;
  }

  .footer .brand-name {
    font-size: 36px;
    line-height: 52px;
    padding: 0;
  }

  .section-right .title {
    font-size: 54px;
    line-height: 60px;

  }

  .list .list-title {
    font-size: 36px;
    line-height: 40px;
  }

  .list-data .list-number {
    font-size: 28px;
    line-height: 32px;
  }

  .list-data .list-iteams {
    font-size: 28px;
    line-height: 32px;
  }
}

@media screen and (max-width: 1200px) {

  .main-section {
    height: calc(100vh - 64px);
  }

  .information {
    padding: 25px;
  }

  .footer .substract-img {
    height: 40px;
  }

  .main-box {
    padding: 58px 40px 59px 56px;
  }

  .main-box .list {
    width: 50%;
  }

  .main-box .list:nth-child(3) {
    display: none;
  }

  .section-right .title {
    font-size: 54px;
    line-height: 63px;
  }

  .main-box .list {
    gap: 20px;
  }

  .list .list-data {
    gap: 24px;
  }

  .list-data .list-number {
    font-size: 32px;
    line-height: 40px;
  }

  .list-data .list-iteams {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1080px) {
  body {
    margin: 32px;
  }

  .main-section {
    height: calc(100vh - 64px);
  }

  .main-section .section-left {
    width: 30%;
  }

  .vector .temprature {
    font-size: 30px;
  }

  .vector svg {
    height: 25px;
  }

  .footer {
    padding: 0;
  }

  .footer .substract-img {
    height: 30px;
  }

  .footer .brand-name {
    font-size: 20px;
    padding: 0;
  }

  .main-box {
    letter-spacing: 3px;
  }

  .list .list-data {
    gap: 3px;
  }

  .list .list-title {
    font-size: 26px;
    line-height: 40px;
  }

  .list-data .list-number {
    font-size: 24px;
    line-height: 32px;
  }

  .list-data .list-iteams {
    font-size: 22px;
    line-height: 32px;
  }
}

@media screen and (max-width: 720px) {
  body {
    margin: 24px;
  }

  .main-section {
    height: calc(100vh - 48px);
  }

  .information {
    padding: 20px;
  }

  .main-section .section-left {
    width: 40%;
  }

  .footer .substract-img {
    height: 30px;
  }

  .main-box {
    justify-content: center;
  }

  .main-box .list-one {
    width: 100%;
  }

  .main-box .list-two {
    display: none;
  }

  .section-right .title {
    font-size: 48px;
    padding: 30px 0px;
  }

  .list .list-title {
    font-size: 38px;
    line-height: 48px;
  }

  .list-data .list-number {
    font-size: 26px;
    line-height: 40px;
  }

  .list-data .list-iteams {
    font-size: 24px;
    line-height: 40px;
  }

}

@media screen and (max-width: 540px) {
  body {
    margin: 20px;
  }

  .main-section {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
  }

  .main-section .section-left {
    width: 100%;
  }

  .information {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .footer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .footer .substract-img {
    height: 35px;
  }

  .footer .brand-name {
    font-size: 35px;
    padding: 0;
  }

  .section-right {
    padding: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .main-box {
    width: 100%;
    padding: 0;
  }

  .main-box .list-one {
    width: 100%;
  }

  .section-left .title {
    font-size: 53px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
  }

  .section-right .title {
    font-size: 53px;
    padding: 10px 0px;
    display: none;
  }

  .main-box .list {
    gap: 16px;
    letter-spacing: 4px;
    padding: 0px 30px;
  }

  .list .list-data {
    gap: 20px;
  }

  .list .list-title {
    font-size: 30px;
    line-height: 40px;
  }

  .list-data .list-number {
    font-size: 25px;
    line-height: 35px;
  }

  .list-data .list-iteams {
    font-size: 22px;
    line-height: 35px;
  }
}

@media screen and (max-width: 480px) {
  body {
    margin: 15px;
  }

  .section-left .title {
    font-size: 48px;
  }

  .main-section {
    height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
  }

  .main-box .list {
    gap: 20px;
    letter-spacing: 4px;
    padding: 0px 30px;
  }

  .list .list-data {
    gap: 15px;
  }

  .list .list-title {
    font-size: 24px;
    line-height: 35px;
  }

  .list-data .list-number {
    font-size: 20px;
    line-height: 25px;
  }

  .list-data .list-iteams {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-width: 360px) {
 
  .information h3 {
    font-size: 20px;
  }

  .section-right .title {
    font-size: 40px;
  }

  .list .list-title {
    font-size: 24px;
    line-height: 35px;
  }

  .list-data .list-number {
    font-size: 18px;
    line-height: 25px;
  }

  .list-data .list-iteams {
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width: 280px) {
  .section-left .title {
    font-size: 40px;
  }

  .list .list-title {
    font-size: 24px;
    line-height: 30px;
  }

  .list-data .list-number {
    font-size: 14px;
    line-height: 24px;
  }

  .list-data .list-iteams {
    font-size: 14px;
    line-height: 24px;
  }
}